
.loading-popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .loading-spinner {
    width: 3rem;
    height: 3rem;
    border: 4px solid rgb(0, 0, 0); 
    border-top-color: #ffffff; 
    border-radius: 9999px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  